[submodule "tools/autodock-vina"]
	path = tools/autodock-vina/repo
	url = https://github.com/ccsb-scripps/AutoDock-Vina
[submodule "tools/qvina"]
	path = tools/qvina/repo
	url = https://github.com/QVina/qvina
[submodule "tools/openbabel/repo"]
	path = tools/openbabel/repo
	url = https://github.com/openbabel/openbabel
[submodule "tools/fpocket/repo"]
	path = tools/fpocket/repo
	url = https://github.com/Discngine/fpocket
